# Add in information on Countries UN Education Index

Imports necessary libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os.path

Loads in Country Data

In [3]:
# Ensure the file exists
filepath = "../data/raw/Country/countries_200.csv"
if not os.path.exists(filepath):
    print("Missing dataset file")
else:
    df = pd.read_csv(filepath, encoding = "ISO-8859-1")
    print("File Read")

File Read

In [4]:
df.head()

,Country,Year,Population,Males,Females,Life_Expectancy,GDP,Elevation,Area_SqKM,Centroid_Longitude,Centroid_Latitude,Population_Density,CO2_Emissions,Methane_Emissions,Nitrous_Oxide_Emisions,Total_Emissions,Emmisions_per_Capita
0,Afghanistan,1960,8996351.00,4649361.00,4346990.00,32.337561,5.377778e+08,1884.71,646212.0,66.1685,33.78231,13.921671,414.37100,NaN,NaN,414.371000,0.000046
1,Afghanistan,1964,9444486.75,4860579.25,4583907.50,33.446177,6.616667e+08,1884.71,646212.0,66.1685,33.78231,14.615152,682.06200,NaN,NaN,682.062000,0.000072
2,Afghanistan,1968,10266930.25,5255391.50,5011538.75,35.183293,1.363333e+09,1884.71,646212.0,66.1685,33.78231,15.887867,1152.35475,NaN,NaN,1152.354750,0.000112
3,Afghanistan,1972,11280079.00,5750551.50,5529527.50,36.941037,1.646110e+09,1884.71,646212.0,66.1685,33.78231,17.455694,1510.80400,NaN,NaN,1510.804000,0.000134
4,Afghanistan,1976,12444987.00,6326886.00,6118101.00,38.828604,2.202778e+09,1884.71,646212.0,66.1685,33.78231,19.258366,1917.84100,10100.9175,3007.769575,15026.528075,0.001207

In [280]:
#Years of Olympics 
eduYear = [1980,1984,1988,1992,1996,2000,2004,2008,2012,1994,1998,2002,2006,2010,2014]

## Loading Education Index Data Data

In [6]:
# Ensure the file exists
filepath = "../data/raw/UNEducationIndex.csv"
if not os.path.exists(filepath):
    print("Missing dataset file")
else:
    eduDF = pd.read_csv(filepath, encoding = "ISO-8859-1")
    print("File Read")

Missing dataset file

In [282]:
eduDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 16 columns):
HDI Rank    194 non-null object
Country     200 non-null object
1980        195 non-null object
1985        195 non-null object
1990        195 non-null object
1995        195 non-null object
2000        195 non-null object
2005        195 non-null object
2006        195 non-null object
2007        195 non-null object
2008        195 non-null object
2009        195 non-null object
2010        195 non-null object
2011        195 non-null object
2012        195 non-null object
2013        195 non-null object
dtypes: object(16)
memory usage: 25.7+ KB

In [283]:
eduDF[['1980','1985','1990','1995','2000','2005','2006','2007','2008','2009','2010','2011','2012','2013']] = eduDF[['1980','1985','1990','1995','2000','2005','2006','2007','2008','2009','2010','2011','2012','2013']].apply(pd.to_numeric, errors='coerce')
eduDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 16 columns):
HDI Rank    194 non-null object
Country     200 non-null object
1980        129 non-null float64
1985        131 non-null float64
1990        142 non-null float64
1995        142 non-null float64
2000        158 non-null float64
2005        174 non-null float64
2006        173 non-null float64
2007        174 non-null float64
2008        175 non-null float64
2009        178 non-null float64
2010        187 non-null float64
2011        187 non-null float64
2012        187 non-null float64
2013        187 non-null float64
dtypes: float64(14), object(2)
memory usage: 25.7+ KB

In [284]:
eduDF['Country'] = eduDF['Country'].astype(str)
eduDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 16 columns):
HDI Rank    194 non-null object
Country     205 non-null object
1980        129 non-null float64
1985        131 non-null float64
1990        142 non-null float64
1995        142 non-null float64
2000        158 non-null float64
2005        174 non-null float64
2006        173 non-null float64
2007        174 non-null float64
2008        175 non-null float64
2009        178 non-null float64
2010        187 non-null float64
2011        187 non-null float64
2012        187 non-null float64
2013        187 non-null float64
dtypes: float64(14), object(2)
memory usage: 25.7+ KB

In [285]:
for year in eduYear:
    if str(year) in eduDF.columns[2:]:
        continue
    else:
        print(year)

1984
1988
1992
1996
2004
1994
1998
2002
2014

In [286]:
year1984 = []
for index,row in eduDF.iterrows():
    curr = row['1985']
    prev = row['1980']
    diff = (curr-prev)/5
    year = curr-diff
    year1984.append(year)
eduDF['1984'] = year1984

In [287]:
year1988 = []
for index,row in eduDF.iterrows():
    curr = row['1990']
    prev = row['1985']
    diff = (curr-prev)/5
    year = curr-(diff*2)
    year1988.append(year)
eduDF['1988'] = year1988

In [288]:
year1992 = []
year1994 = []
for index,row in eduDF.iterrows():
    curr = row['1995']
    prev = row['1990']
    diff = (curr-prev)/5
    year = curr-(diff*3)
    temp = curr-diff
    year1992.append(year)
    year1994.append(temp)
eduDF['1992'] = year1992
eduDF['1994'] = year1994

In [289]:
year1996 = []
year1998 = []
for index,row in eduDF.iterrows():
    curr = row['2000']
    prev = row['1995']
    diff = (curr-prev)/5
    year = prev+diff
    temp = curr-(diff*2)
    year1996.append(year)
    year1998.append(temp)
eduDF['1996'] = year1996
eduDF['1998'] = year1998

In [290]:
year2004 = []
year2002 = []
for index,row in eduDF.iterrows():
    curr = row['2005']
    prev = row['2000']
    diff = (curr-prev)/5
    year = prev+(diff*2)
    temp = curr-diff
    year2002.append(year)
    year2004.append(temp)
eduDF['2004'] = year2004
eduDF['2002'] = year2002

In [291]:
cols = [ str(year) for year in eduYear]
cols = cols[:len(cols)-1]
cols = ['Country']+cols

In [292]:
eduDF = eduDF[cols]
eduDF = eduDF.set_index('Country')
eduDF.head()

,1980,1984,1988,1992,1996,2000,2004,2008,2012,1994,1998,2002,2006,2010
Country,,,,,,,,,,,,,,
Afghanistan,0.076100,0.097687,0.114067,0.142949,0.185336,0.225522,0.283024,0.332160,0.365333,0.164509,0.205429,0.254273,0.308987,0.357000
Albania,0.540589,0.530339,0.533423,0.533790,0.536048,0.565465,0.588829,0.599629,0.608519,0.530392,0.550757,0.577147,0.596323,0.601675
Algeria,0.321378,0.342018,0.368304,0.399180,0.438191,0.493489,0.548751,0.598080,0.642589,0.415971,0.465840,0.521120,0.570238,0.631478
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.670287,NaN,NaN,NaN,NaN,0.670287
Angola,NaN,NaN,NaN,NaN,NaN,0.298712,0.351490,0.410401,0.474212,NaN,NaN,0.325101,0.379923,0.440879

In [293]:
df.head()

,Country,Year,Population,Males,Females,Life_Expectancy,GDP,Elevation,Area_SqKM,Centroid_Longitude,Centroid_Latitude,Population_Density,CO2_Emissions,Methane_Emissions,Nitrous_Oxide_Emisions,Total_Emissions,Emmisions_per_Capita
0,Afghanistan,1960,8996351.00,4649361.00,4346990.00,32.337561,5.377778e+08,1884.71,646212.0,66.1685,33.78231,13.921671,414.37100,NaN,NaN,414.371000,0.000046
1,Afghanistan,1964,9444486.75,4860579.25,4583907.50,33.446177,6.616667e+08,1884.71,646212.0,66.1685,33.78231,14.615152,682.06200,NaN,NaN,682.062000,0.000072
2,Afghanistan,1968,10266930.25,5255391.50,5011538.75,35.183293,1.363333e+09,1884.71,646212.0,66.1685,33.78231,15.887867,1152.35475,NaN,NaN,1152.354750,0.000112
3,Afghanistan,1972,11280079.00,5750551.50,5529527.50,36.941037,1.646110e+09,1884.71,646212.0,66.1685,33.78231,17.455694,1510.80400,NaN,NaN,1510.804000,0.000134
4,Afghanistan,1976,12444987.00,6326886.00,6118101.00,38.828604,2.202778e+09,1884.71,646212.0,66.1685,33.78231,19.258366,1917.84100,10100.9175,3007.769575,15026.528075,0.001207

## Joining the DataFrames

In [294]:
edu = []
for index,row in df.iterrows():
    if 'Korea, Rep.' in row['Country']:
        country = row['Country']
    else:
        country = row['Country'].split(",")[0]
    year = row['Year']
    try:
        index = eduDF.loc[country][str(year)]
    except:
        index = np.nan
    edu.append(index)
df['Education_Index']=edu
df.head(40)

,Country,Year,Population,Males,Females,Life_Expectancy,GDP,Elevation,Area_SqKM,Centroid_Longitude,Centroid_Latitude,Population_Density,CO2_Emissions,Methane_Emissions,Nitrous_Oxide_Emisions,Total_Emissions,Emmisions_per_Capita,Education_Index
0,Afghanistan,1960,8996351.00,4649361.00,4346990.00,32.337561,5.377778e+08,1884.7100,646212.00,66.16850,33.78231,13.921671,414.37100,NaN,NaN,414.371000,0.000046,NaN
1,Afghanistan,1964,9444486.75,4860579.25,4583907.50,33.446177,6.616667e+08,1884.7100,646212.00,66.16850,33.78231,14.615152,682.06200,NaN,NaN,682.062000,0.000072,NaN
2,Afghanistan,1968,10266930.25,5255391.50,5011538.75,35.183293,1.363333e+09,1884.7100,646212.00,66.16850,33.78231,15.887867,1152.35475,NaN,NaN,1152.354750,0.000112,NaN
3,Afghanistan,1972,11280079.00,5750551.50,5529527.50,36.941037,1.646110e+09,1884.7100,646212.00,66.16850,33.78231,17.455694,1510.80400,NaN,NaN,1510.804000,0.000134,NaN
4,Afghanistan,1976,12444987.00,6326886.00,6118101.00,38.828604,2.202778e+09,1884.7100,646212.00,66.16850,33.78231,19.258366,1917.84100,10100.917500,3007.769575,15026.528075,0.001207,NaN
5,Afghanistan,1980,13215084.25,6716743.75,6498340.50,40.982683,3.398249e+09,1884.7100,646212.00,66.16850,33.78231,20.450076,2137.86100,10347.200000,3257.867500,15742.928500,0.001191,0.076100
6,Afghanistan,1984,12559995.75,6400630.50,6159365.25,43.627951,NaN,1884.7100,646212.00,66.16850,33.78231,19.436339,2359.71450,9869.322500,3208.710025,15437.747025,0.001229,0.097687
7,Afghanistan,1988,11606935.00,5928125.75,5678809.25,46.868476,NaN,1884.7100,646212.00,66.16850,33.78231,17.961497,3160.95400,7782.315000,2707.147850,13650.416850,0.001176,0.114067
8,Afghanistan,1992,12750402.75,6536780.75,6213622.00,50.212421,NaN,1884.7100,646212.00,66.16850,33.78231,19.730990,2305.62625,7545.057500,2748.602600,12599.286350,0.000988,0.142949
9,Afghanistan,1996,16547560.75,8555845.25,7991715.50,52.780012,NaN,1884.7100,646212.00,66.16850,33.78231,25.607016,1265.11500,7909.835000,2761.256800,11936.206800,0.000721,0.185336
10,Afghanistan,2000,19185759.00,9891756.50,9294002.50,54.741671,NaN,1884.7100,646212.00,66.16850,33.78231,29.689574,933.25150,9650.962500,3357.028750,13941.242750,0.000727,0.225522
11,Afghanistan,2004,22532554.00,11635589.75,10896964.25,56.967835,4.114899e+09,1884.7100,646212.00,66.16850,33.78231,34.868672,1008.42500,9866.982500,3280.753250,14156.160750,0.000628,0.283024
12,Afghanistan,2008,26218767.75,13534667.25,12684100.50,59.401780,8.341761e+09,1884.7100,646212.00,66.16850,33.78231,40.573013,2364.29825,10960.675000,3451.361750,16776.335000,0.000640,0.332160
13,Afghanistan,2012,29303263.75,15061227.00,14242036.75,61.441823,1.672263e+10,1884.7100,646212.00,66.16850,33.78231,45.346208,9557.11875,13095.499750,3377.878420,26030.496920,0.000888,0.365333
14,Afghanistan,1994,14560676.50,7504056.50,7056620.00,51.618652,NaN,1884.7100,646212.00,66.16850,33.78231,22.532352,1618.06375,7557.357500,2708.996225,11884.417475,0.000816,0.164509
15,Afghanistan,1998,18042007.25,9323475.50,8718531.75,53.774640,NaN,1884.7100,646212.00,66.16850,33.78231,27.919641,1139.52025,8852.822500,3048.735300,13041.078050,0.000723,0.205429
16,Afghanistan,2002,20610954.50,10622022.25,9988932.25,55.797079,NaN,1884.7100,646212.00,66.16850,33.78231,31.895035,870.91250,9571.502500,3337.669250,13780.084250,0.000669,0.254273
17,Afghanistan,2006,24537019.50,12686873.00,11850146.50,58.199659,5.800445e+09,1884.7100,646212.00,66.16850,33.78231,37.970541,1280.69975,10610.150000,3381.828750,15272.678500,0.000622,0.308987
18,Afghanistan,2010,27679580.25,14245876.25,13433704.00,60.491415,1.211453e+10,1884.7100,646212.00,66.16850,33.78231,42.833591,5428.07675,11816.175000,3416.324000,20660.575750,0.000746,0.357000
19,Afghanistan,2014,31223816.25,16064809.75,15159006.50,62.292878,1.983679e+10,1884.7100,646212.00,66.16850,33.78231,48.318224,10704.88975,NaN,NaN,10704.889750,0.000343,NaN
20,Afghanistan,2016,33220558.50,17116097.00,16104461.50,NaN,1.989124e+10,1884.7100,646212.00,66.16850,33.78231,51.408142,NaN,NaN,NaN,0.000000,0.000000,NaN
21,Albania,1960,1608800.00,828205.00,780595.00,62.254366,NaN,911.4299,27899.96,20.25988,41.14326,57.663165,2024.18400,NaN,NaN,2024.184000,0.001258,NaN
22,Albania,1964,1736968.75,894189.75,842779.00,64.440402,NaN,911.4299,27899.96,20.25988,41.14326,62.257034,2211.20100,NaN,NaN,2211.201000,0.001273,NaN
23,Albania,1968,1941808.50,999717.75,942090.75,66.169720,NaN,911.4299,27899.96,20.25988,41.14326,69.598971,2620.07150,NaN,NaN,2620.071500,0.001349,NaN
24,Albania,1972,2162038.25,1113075.00,1048963.25,67.109756,NaN,911.4299,27899.96,20.25988,41.14326,77.492521,4246.38600,NaN,NaN,4246.386000,0.001964,NaN
25,Albania,1976,2377558.25,1223184.75,1154373.50,68.540756,NaN,911.4299,27899.96,20.25988,41.14326,85.217264,4795.51925,1854.357500,841.710450,7491.587200,0.003151,NaN
26,Albania,1980,2592410.25,1333438.50,1258971.75,69.864012,NaN,911.4299,27899.96,20.25988,41.14326,92.918063,6243.06750,2131.447500,1171.192400,9545.707400,0.003682,0.540589
27,Albania,1984,2814680.75,1445959.75,1368721.00,70.820878,NaN,911.4299,27899.96,20.25988,41.14326,100.884759,7526.51750,2278.737500,1371.794950,11177.049950,0.003971,0.530339
28,Albania,1988,3053334.50,1569446.75,1483887.75,71.746006,2.105440e+09,911.4299,27899.96,20.25988,41.14326,109.438669,7676.86450,2440.222500,1510.692000,11627.779000,0.003808,0.533423
29,Albania,1992,3257078.50,1660200.00,1596878.50,71.945402,1.571342e+09,911.4299,27899.96,20.25988,41.14326,116.741332,5325.40075,2465.437500,1318.346300,9109.184550,0.002797,0.533790
30,Albania,1996,3197660.00,1581375.75,1616284.25,72.218323,2.238286e+09,911.4299,27899.96,20.25988,41.14326,114.611634,2091.10675,2628.875000,971.591150,5691.572900,0.001780,0.536048
31,Albania,2000,3118654.00,1561724.00,1556930.00,73.446037,3.028458e+09,911.4299,27899.96,20.25988,41.14326,111.779874,2325.79475,2448.905000,992.109275,5766.809025,0.001849,0.565465
32,Albania,2004,3044434.50,1535857.50,1508577.00,74.781348,5.389412e+09,911.4299,27899.96,20.25988,41.14326,109.119673,3858.60075,2405.415000,975.057725,7239.073475,0.002378,0.588829
33,Albania,2008,2980341.25,1493181.00,1487160.25,75.696463,1.018339e+10,911.4299,27899.96,20.25988,41.14326,106.822420,4113.45725,2496.175000,1070.523000,7680.155250,0.002577,0.599629
34,Albania,2012,2911534.00,1461901.75,1449632.25,76.924878,1.229545e+10,911.4299,27899.96,20.25988,41.14326,104.356207,4781.76800,2582.520275,1135.996775,8500.285050,0.002920,0.608519
35,Albania,1994,3237163.00,1623457.25,1613705.75,71.972445,1.265591e+09,911.4299,27899.96,20.25988,41.14326,116.027514,2765.83475,2448.705000,1005.455550,6219.995300,0.001921,0.530392
36,Albania,1998,3158157.00,1563053.00,1595104.00,72.740585,2.701606e+09,911.4299,27899.96,20.25988,41.14326,113.195754,1850.00150,2554.272500,915.591975,5319.865975,0.001684,0.550757
37,Albania,2002,3077247.00,1553810.25,1523436.75,74.170787,3.885661e+09,911.4299,27899.96,20.25988,41.14326,110.295750,3245.29500,2411.030000,1026.369700,6682.694700,0.002172,0.577147
38,Albania,2006,3017647.25,1515509.00,1502138.25,75.252518,7.553251e+09,911.4299,27899.96,20.25988,41.14326,108.159555,4152.87750,2476.385000,1021.495725,7650.758225,0.002535,0.596323
39,Albania,2010,2939467.75,1473188.50,1466279.25,76.252591,1.188838e+10,911.4299,27899.96,20.25988,41.14326,105.357418,4319.72600,2522.485000,1110.816025,7953.027025,0.002706,0.601675

In [295]:
df.to_csv('Country/countries_250.csv', index=False)